# Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [16]:
com = input("enter email ")
company = (com.split('@')[1]).split(".")
print(company[0])

enter email ranjit@google.com
google

# Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [26]:
str1 = "without,hello,bag,world"
string_list = str1.split(',')
print(",".join(sorted(list(set(string_list)))))

bag,hello,without,world

# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [45]:
lst = [1,2,3,6,8]
for x in range(lst[0], lst[-1]+1):
    if x not in lst:
        print(x)

4
5
7

# With a given list L, write a program to print this list L after removing all duplicate values with original order reserved

In [57]:
list1 = [12,24,35,24,88,120,155,88,120,155]
list2 = []
list2 = set(list2).union(set(list1))
list2 = list(list2)
print(list2)

[35, 24, 88, 155, 12, 120]